* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

th,
td {
  /* border: 1px solid #dddddd; */
  text-align: center;
  padding: 8px;
}

th {
  border-bottom: 1px solid #dddddd;
}
